# Laravel / PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache

# Logs
*.log
phpunit.result.cache
.phpunit.cache

# Env
.env
.env.*
auth.json

# IDE / Editor
/.vscode
/.idea
/.fleet
/.nova
/.zed

# OS files
.DS_Store
Thumbs.db

# Build / Hot reload
/public/build
/public/hot
